.project{
    display: grid;
    justify-content: space-around;
    height: auto;
    background-color: rgb(5, 5, 17);
}

@media only screen and (max-width: 750px) {
    .project{
        display: grid;
        grid-template-columns: auto;
    }
}

@media only screen and (max-width: 650px) {
    .project{
        display: grid;
        grid-template-columns: auto;
        height: 170vh;
        margin-top: 0;
    }
}